# Python 캐시 파일
__pycache__/
*.py[cod]
*.pyo
.Python

# 가상 환경
fa_venv/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints

# 파이썬 패키지
*.egg
*.egg-info/
dist/
build/
*.whl

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# PyCharm (JetBrains)
.idea/

# Eclipse
.project
.classpath
.settings/

# Sublime Text
*.sublime-workspace
*.sublime-project

# 로그 파일
*.log

# 환경 파일 (비밀번호, API 키 등 포함)
db_env.py

# 빌드 결과물
build/
dist/
target/

# 템포러리 파일
.temp
*.tmp
*.swp
env/