* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    background: url("../image/tran.gif") no-repeat center center fixed;
    background-size: cover; /* 화면 크기에 맞춰 이미지를 조정 */
}

main {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 흰색 반투명 배경 */
    border-radius: 8px;
}

.image-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    text-align: center; /* 이미지 가운데 정렬 */
    margin-bottom: 20px;
}

.image-container img {
    width: 200px; /* 원하는 너비 */
    height: 200px; /* 원형으로 만들기 위해 너비와 높이를 동일하게 설정 */
    border-radius: 50%; /* 이미지를 원형으로 자름 */
    object-fit: cover; /* 이미지 비율을 유지하며 원형 안에 맞춤 */
    display: block;
    margin: 0 auto;
}


h4 {
    color: #333;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px; /* 원하는 크기로 조정 */
}



textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

button {
    width: 100%;
    height: 40px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.task:first-child {
    border-top: 1px solid #ccc;
}

/* 완료된 작업 항목에 스타일 추가 */
.task strike {
    color: gray;
    font-style: italic;
}
