{% extends 'base.html' %}

{% block content %}

    <!-- 이미지 추가 -->
    <div class="image-container">
        <img src="{{ url_for('static', path='image/1.jpg') }}" alt="성장 이미지" class="small-image">
    </div>

    <form action="/edit/{{ todo.id }}" method="post">
        <textarea name="task" rows="5">{{ todo.task }}</textarea>
        <label for="completed">Done?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <button type="submit">Save</button>
    </form>

    <div>
        <h2>Task</h2>
        {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.task }}</strike>
                {% else %}
                    {{ todo.task }}
                {% endif %}
                <small>
                    <a href="/edit/{{ todo.id }}">Edit</a>
                    <a href="/delete/{{ todo.id }}">Delete</a>
                </small>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
